/* css for project wide*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

html{
    font-family: 'Arvo', serif;
}

body{
    margin: 0;
    background-color: black;
}